body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

@keyframes blink {
  0% { opacity: .2; }
  50% { opacity: 1; }
  100% { opacity: .2; }
}

pre, code {
  background: #111827;
  color: #e5e7eb;
}

pre {
  padding: 10px;
  border-radius: 8px;
  overflow: auto;
  border: 1px solid #374151;
}
